/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 7vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: var(--card-bg-color-dark);
	color: var(--main-text-color);
	margin: auto;
	padding: 0;
	border: 1px solid white;
	width: 80vw;
	height: 80vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	overflow: auto; /* Enable scroll if needed */
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}


/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 4vw;
	font-size: clamp(22px, 4vw, 32px);
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 2vw;
	background-color: var(--card-bg-color-4);
	color: white;
}

.modal-header h2 {
	font-size: 4vw;
	font-size: clamp(22px, 4vw, 32px);
}

/* MODAL BODY */
.modal-body {
	padding: 2px 3%;
	font-size: 2vw;
	font-size: clamp(12px, 2vw, 16px);
}
